<div class="container">
    <footer>
        <p class="text-muted">Copyright &copy; 2016 <a href="/">Express Blog</a></p>
    </footer>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>